@import "tailwindcss";
@tailwind utilities;

@layer components {
  .bg-cover {
    min-height: 100vh;
    width: 100%;
    display: flex; /* Opcional: ayuda a centrar contenido */
    flex-direction: column;
  }

  .bg-pattern {
    background-image: url("./pattern-background-mobile-light.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* Tablet (desde 768px) */
  @media (min-width: 768px) {
    .bg-pattern {
      background-image: url("./pattern-background-tablet-light.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  /* Desktop (desde 1024px) */
  @media (min-width: 1024px) {
    .bg-pattern {
      background-image: url("./pattern-background-desktop-light.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .bg-pattern-mobile-dark {
    background-image: url("./pattern-background-mobile-dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bg-pattern-tablet-dark {
    background-image: url("./pattern-background-tablet-dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bg-pattern-desktop-dark {
    background-image: url("./pattern-background-desktop-dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
