@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .bg-cover {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .bg-cover-dark {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  /* mobile  */
  .bg-pattern {
    background-image: url("./pattern-background-mobile-light.svg");
    background-size: auto !important;
    background-repeat: no-repeat;
  }

  .dark .bg-pattern {
    background-image: url("./pattern-background-mobile-dark.svg");
    background-size: auto !important;
    background-repeat: no-repeat;
  }

  /* Tablet */
  @media (min-width: 768px) {
    .bg-pattern {
      background-image: url("./pattern-background-tablet-light.svg");
      background-size: auto !important;
      background-repeat: no-repeat;
    }

    .dark .bg-pattern {
      background-image: url("./pattern-background-tablet-dark.svg");
      background-size: auto !important;
      background-repeat: no-repeat;
    }
  }

  /* Desktop (desde 1024px) */
  @media (min-width: 1024px) {
    .bg-pattern {
      background-image: url("./pattern-background-desktop-light.svg");
      background-size: cover !important;
      background-repeat: no-repeat;
    }

    .dark .bg-pattern {
      background-image: url("./pattern-background-desktop-dark.svg");
      background-size: cover !important;
      background-repeat: no-repeat;
    }
  }
}
